<div *ngIf="isLoggedIn; else loggedOut">
  <div class="image_container"><img src="https://img.freepik.com/free-vector/working-concept-illustration_114360-440.jpg?t=st=1715033881~exp=1715037481~hmac=e10b526c4dbdb2fc50bdf92acbd2ad4316b6990ff102b1d56a1dc0442473cfc4&w=740" ></div>

  <h1>&darr; Employeurs &darr;</h1>
  <table class="blue">
    <thead>
      <tr>
        <th>Nom d'utilisateur</th>
        <th>Email</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <ng-container *ngIf="user.role == 'employeur'">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <span class="icon-circle" [ngClass]="{ 'icon-green': user.isActive, 'icon-red': !user.isActive }"></span>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  
  <h1 class="scrollMore">&darr; Candidats &darr;</h1>
  <table class="green">
    <thead>
      <tr>
        <th>Nom d'utilisateur</th>
        <th>Email</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <ng-container *ngIf="user.role == 'candidat'">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <span class="icon-circle" [ngClass]="{ 'icon-green': user.isActive, 'icon-red': !user.isActive }"></span>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  



</div>






<ng-template #loggedOut>

  <div class="main_wrapper">
      <div class="main">
        <div class="antenna">
          <div class="antenna_shadow"></div>
          <div class="a1"></div>
          <div class="a1d"></div>
          <div class="a2"></div>
          <div class="a2d"></div>
          <div class="a_base"></div>
        </div>
        <div class="tv">
          <div class="cruve">
            <svg
              xml:space="preserve"
              viewBox="0 0 189.929 189.929"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              class="curve_svg"
            >
              <path
                d="M70.343,70.343c-30.554,30.553-44.806,72.7-39.102,115.635l-29.738,3.951C-5.442,137.659,11.917,86.34,49.129,49.13
            C86.34,11.918,137.664-5.445,189.928,1.502l-3.95,29.738C143.041,25.54,100.895,39.789,70.343,70.343z"
              ></path>
            </svg>
          </div>
          <div class="display_div">
            <div class="screen_out">
              <div class="screen_out1">
                <div class="screen">
                  <span class="notfound_text"> NOT FOUND</span>
                </div>
              </div>
            </div>
          </div>
          <div class="lines">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <div class="buttons_div">
            <div class="b1"><div></div></div>
            <div class="b2"></div>
            <div class="speakers">
              <div class="g1">
                <div class="g11"></div>
                <div class="g12"></div>
                <div class="g13"></div>
              </div>
              <div class="g"></div>
              <div class="g"></div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="base1"></div>
          <div class="base2"></div>
          <div class="base3"></div>
        </div>
      </div>
      <div class="text_404">
        <div class="text_4041">4</div>
        <div class="text_4042">0</div>
        <div class="text_4043">4</div>
      </div>
    </div>
</ng-template>


<footer>
  <div class="footerContainer">
      <div class="socialIcons">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="footerNav">
        <ul>
          <li><a href="https://www.medianet.tn/fr/">Accueil</a></li>
          <li><a href="https://www.medianet.tn/fr/">Actualités</a></li>
          <li><a href="https://www.medianet.tn/fr/">À propos</a></li>
          <li><a href="https://www.medianet.tn/fr/">Contactez-nous</a></li>
          <li><a href="https://www.medianet.tn/fr/">Notre équipe</a></li>
      </ul> 
      </div>
      
  </div>
  <div class="footerBottom">
      <p>Copyright &copy;2024; Designée par <span class="designer">Eskander Belhaj amor</span></p>
  </div>
</footer>