
            <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Postuler</h5>
       
    
      </div>
      <div class="modal-body">

      <form [formGroup]="candidatureForm" (ngSubmit)="onSubmit()">
      

        <div class="mb-3">
         
          <input type="text" class="form-control large-font" id="idemployeur" formControlName="idemployeur" hidden>
        </div>
        <div class="mb-3">
          <label for="titre" class="form-label">Titre</label>
          <input type="text" class="form-control large-font" id="titre" formControlName="titre" >
        </div>
        <div class="mb-3">
          <label for="descposte" class="form-label">Description poste</label>
          <input type="text" class="form-control large-font" id="descposte" formControlName="descposte" >
        </div>
        <div class="mb-3">
         
          <input type="text" class="form-control large-font" id="idcandidat" formControlName="idcandidat" hidden>
        </div>

        <div class="mb-3">
          
          <input type="text" class="form-control large-font" id="idoffre" formControlName="idoffre" hidden>
        </div>

        <div class="mb-3">
         
          <input type="text" class="form-control large-font" id="etat" formControlName="etat" hidden>
        </div>

        <div class="mb-3">
          <label for="prenom" class="form-label">prenom</label>
          <input type="text" class="form-control large-font" id="prenom" formControlName="prenom" >
        </div>
   

        <div class="mb-3">
          <label for="nom" class="form-label">nom</label>
          <input type="text" class="form-control large-font" id="nom" formControlName="nom" >
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control large-font" id="email" formControlName="email" >
        </div>

        <div class="mb-3">
          <label for="telephone" class="form-label">Telephone</label>
          <input type="text" class="form-control large-font" id="telephone" formControlName="telephone" >
        </div>

        <div class="mb-3">
          <label for="phrasemotivation" class="form-label">Motivation</label> 
          <input type="text" class="form-control large-font" id="phrasemotivation" formControlName="phrasemotivation" >
        </div>

        <div class="mb-3">
          <label for="CVpdf" class="form-label">CV (PDF)</label>
          <input type="file" (change)="selectCV($event)" id="CVpdf" name="CVpdf" accept=".pdf">
        </div>
        
        
        
        
        <button type="submit" class="btn btn-primary" >Postuler</button>
      </form>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">X</button>
       
      </div>
    </div>
  </div>
</div>
  

        
          















    
    
    











  


































































    



<div class="slider-container">
  <div class="slide active">
      <img src="https://images.pexels.com/photos/5668858/pexels-photo-5668858.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 1">
      <div class="slide-text">
        <h1 >Opportunités de Carrière</h1>
      </div>
  </div>
  <div class="slide">
      <img src="https://images.pexels.com/photos/3184429/pexels-photo-3184429.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 2">
      <div class="slide-text">
        <h1>Trouvez Votre Emploi Idéal</h1>
      </div>
  </div>
  <div class="slide">
      <img src="https://images.pexels.com/photos/4467738/pexels-photo-4467738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Slide 3">
      <div class="slide-text">
        <h1>Boostez Votre Carrière</h1>
      </div>
  </div>

  <button class="prev" onclick="prevSlide()">&#10094;</button>
  <button class="next" onclick="nextSlide()">&#10095;</button>
</div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #007596;  border-top-right-radius:0 ; border-top-left-radius: 0; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">
  <div class="container-fluid">
 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown"  style="margin-left: 50%;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Emploi par métier
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <li><a class="dropdown-item" (click)="getOffersByspecialite('Mécanique')">Mécanique</a></li>
                  <li><a  class="dropdown-item"(click)="getOffersByspecialite('Électrique')">Électrique</a></li>
                  <li><a  class="dropdown-item"(click)="getOffersByspecialite('Civil')">Civil</a></li>
                  <li><a  class="dropdown-item"(click)="getOffersByspecialite('Chimique')">Chimique</a></li>
              </ul>
              <ul>
                  <li><a class="dropdown-item" href="#"></a></li>
                  <li><a class="dropdown-item" (click)="getOffersByspecialite('Biotechnologie')">Biotechnologie</a></li>
                  <li><a  class="dropdown-item"(click)="getOffersByspecialite('Aéronautique')">Aéronautique</a></li>
                  <li><a  class="dropdown-item"(click)="getOffersByspecialite('Génie des matériaux')">Génie des matériaux</a></li>
                  <li><a  class="dropdown-item"(click)="getOffersByspecialite('Informatique')">Informatique</a></li>
              </ul>
              <ul>
                  <li><a  class="dropdown-item" href="#"></a></li>
                  <li><a  class="dropdown-item"(click)="getOffersByspecialite('Industriel')">Industriel</a></li>
                  <li><a class="dropdown-item" (click)="getOffersByspecialite('Génie mécanique')">Génie mécanique</a></li>
                  <li><a  class="dropdown-item"(click)="getOffersByspecialite('Robotique')">Robotique</a></li>
                  <li><a  class="dropdown-item"(click)="getOffersByspecialite('Avocat')">Avocat</a></li>
              </ul>
            
          </div>
        </li>
        <li class="nav-item dropdown"  style="margin-left: 50%; margin-right: auto;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Emploi par ville
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul>
                <li><a class="dropdown-item" href="#"></a></li>
                  <li><a class="dropdown-item" (click)="getOffersByLocation('Tunis')">Tunis</a></li>
                  <li><a class="dropdown-item" (click)="getOffersByLocation('Zaghouan')">Zaghouan</a></li>
                  <li><a class="dropdown-item" (click)="getOffersByLocation('Tataouine')">Tataouine</a></li>
                  <li><a class="dropdown-item" (click)="getOffersByLocation('Tozeur')">Tozeur</a></li>
              </ul>
              <ul>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Ariana')">Ariana</a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Béja')">Béja</a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Ben Arous')">Ben Arous</a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Bizerte')">Bizerte</a></li>
              </ul>
              <ul>
                <li><a class="dropdown-item" href="#"></a></li>
               
                <li><a class="dropdown-item" (click)="getOffersByLocation('Gabès')">Gabès</a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Gafsa')">Gafsa</a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Jendouba')">Jendouba</a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Kairouan')">Kairouan</a></li>
              </ul>

              <ul>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Kasserine')">Kasserine</a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Kébili')">Kébili</a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Le Kef')">Le Kef</a></li>
                <li><a class="dropdown-item" (click)="getOffersByLocation('Mahdia')">Mahdia</a></li>
            </ul>

            <ul>
              <li><a class="dropdown-item" href="#"></a></li>
              <li><a class="dropdown-item" (click)="getOffersByLocation('La Manouba')">La Manouba</a></li>
              <li><a class="dropdown-item" (click)="getOffersByLocation('Médenine')">Médenine</a></li>
              <li><a class="dropdown-item" (click)="getOffersByLocation('Monastir')">Monastir</a></li>
              <li><a class="dropdown-item" (click)="getOffersByLocation('Nabeul')">Nabeul</a></li>
          </ul>

          <ul>
            <li><a class="dropdown-item" href="#"></a></li>
            <li><a class="dropdown-item" (click)="getOffersByLocation('Sfax')">Sfax</a></li>
            <li><a class="dropdown-item" (click)="getOffersByLocation('Sidi Bouzid')">Sidi Bouzid</a></li>
            <li><a class="dropdown-item" (click)="getOffersByLocation('Siliana')">Siliana</a></li>
            <li><a class="dropdown-item" (click)="getOffersByLocation('Sousse')">Sousse</a></li>
        </ul>
          </div>
        </li>
      </ul>
      <form class="d-flex" style="margin-right: 20%;" [formGroup]="offreForm" (ngSubmit)="searchOffres()">
        <div class="search">
          <input  type="text" id="keywords" formControlName="keywords" placeholder="mots-clés">
          <button type="submit">Rechercher</button>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <div class="card-container">
    <div class="card" *ngFor="let offre of offres">
      <div class="card-content">
        <div class="logo-title-container">
          <img class="card-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyqujSX0l6IGlHuziEwmOFmGAT9P2lEkj1OJjXW2wZlfVuPRqln0Sl1ySy47BZdioSB4k&usqp=CAU" alt="Logo de l'entreprise">
          <p class="text-title">{{ offre.titre }}</p>
        </div>
        <div class="detail-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
            <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022M6 8.694 1 10.36V15h5zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5z"/>
            <path d="M2 11h1v1H2zm2 0h1v1H4zm-2 2h1v1H2zm2 0h1v1H4zm4-4h1v1H8zm2 0h1v1h-1zm-2 2h1v1H8zm2 0h1v1h-1zm2-2h1v1h-1zm0 2h1v1h-1zM8 7h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zM8 5h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zm0-2h1v1h-1z"/>
          </svg>
          <span class="detail-label">- Entreprise:</span>
          <p class="detail-text">{{ offre.desc_entreprise }}</p>
        </div>
        <div class="detail-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suitcase-lg" viewBox="0 0 16 16">
            <path d="M5 2a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2h3.5A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5H14a.5.5 0 0 1-1 0H3a.5.5 0 0 1-1 0h-.5A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2zm1 0h4a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1M1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5H3V3zM15 12.5v-9a.5.5 0 0 0-.5-.5H13v10h1.5a.5.5 0 0 0 .5-.5m-3 .5V3H4v10z"/>
          </svg>
          <span class="detail-label"> - Poste:</span>
          <p class="detail-text">{{ offre.desc_poste }}</p>
        </div>
        <div class="detail-item">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>
          <span class="detail-label"> - Emplacement:</span>
          <p class="detail-text">{{ offre.emplacement }}</p>
        </div>
      </div>
      <button type="button" class="card-button" data-toggle="modal" data-target="#exampleModal" (click)="selectOffer(offre._id, offre.idemployeur , offre.titre , offre.desc_poste)">
        Postuler maintenant
      </button>
    </div>
  </div>
</div>






<div class="section">
  <div class="line">
    <img src="https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Image à gauche" class="line-image">
    <div class="line-content">
      <h2 class="line-title">Trouvez L'Emploi Parfait Avec Notre Aide</h2>
      <p class="line-description">Vous recherchez l'emploi idéal qui correspond  à vos compétences et aspirations ?  <br> Laissez-nous vous aider à trouver l'opportunité parfaite. <br> Notre équipe dévouée est là pour vous guider tout au long du processus <br>  de recherche d'emploi et vous connecter aux meilleures entreprises.</p>
    </div>
  </div>
  <div class="line">
    <div class="line-content">
      <h2 class="line-title">Decouvrez Des Candidats Talentueux Pour Votre Equipe</h2>
      <p class="line-description">Êtes-vous à la recherche de personnes talentueuses pour rejoindre votre équipe ? <br> Explorez notre pool de candidats qualifiés et découvrez votre prochaine superstar. <br> Nous vous aidons à identifier les profils les plus adaptés  <br> à vos besoins et à trouver les talents qui feront la différence dans votre entreprise.</p>
    </div>
    <img src="https://images.pexels.com/photos/3184287/pexels-photo-3184287.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Image à droite" class="line-image">
  </div>
</div>





<div class="section">
  <h2 class="section-title">Nos Domaines d'Expertise</h2>
  
  <!-- Première ligne d'images -->
  <div class="image-row">
    <div class="image-container">
      <img src="https://images.pexels.com/photos/12899188/pexels-photo-12899188.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Informatique" class="domain-image">
      <p class="domain-label">Informatique</p>
    </div>
    <div class="image-container">
      <img src="https://images.pexels.com/photos/3822900/pexels-photo-3822900.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mécanique" class="domain-image">
      <p class="domain-label">Mécanique</p>
    </div>
    <div class="image-container">
      <img src="https://images.pexels.com/photos/8293645/pexels-photo-8293645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Génie civil" class="domain-image">
      <p class="domain-label">Génie civil</p>
    </div>
  </div>
  
  <!-- Deuxième ligne d'images -->
  <div class="image-row">
    <div class="image-container">
      <img src="https://images.pexels.com/photos/9242858/pexels-photo-9242858.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Électronique" class="domain-image">
      <p class="domain-label">Électronique</p>
    </div>
    <div class="image-container">
      <img src="https://images.pexels.com/photos/3806280/pexels-photo-3806280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Automobile" class="domain-image">
      <p class="domain-label">Automobile</p>
    </div>
    <div class="image-container">
      <img src="https://images.pexels.com/photos/1928067/pexels-photo-1928067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Aéronautique" class="domain-image">
      <p class="domain-label">Aéronautique</p>
    </div>
  </div>
</div>


<footer>
  <div class="footerContainer">
      <div class="socialIcons">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="footerNav">
        <ul>
          <li><a href="https://www.medianet.tn/fr/">Accueil</a></li>
          <li><a href="https://www.medianet.tn/fr/">Actualités</a></li>
          <li><a href="https://www.medianet.tn/fr/">À propos</a></li>
          <li><a href="https://www.medianet.tn/fr/">Contactez-nous</a></li>
          <li><a href="https://www.medianet.tn/fr/">Notre équipe</a></li>
      </ul> 
      </div>
      
  </div>
  <div class="footerBottom">
      <p>Copyright &copy;2024; Designée par <span class="designer">Eskander Belhaj amor</span></p>
  </div>
</footer>


